{% extends "base.html" %}
{% load translation %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-lg-4 mui-col-lg-offset-4 mui-col-md-6 mui-col-md-offset-3">
        <h2>{% tr "Your account" %}</h2>
        <p><a href="{% url "edit-dj" %}" class="mui-btn mui-btn--primary mui-btn--raised">{% tr "Edit DJ profile" %}</a></p>
        <p><a href="{% url "edit-bank-details" %}" class="mui-btn mui-btn--primary mui-btn--raised">{% tr "Edit bank details" %}</a></p>
        <p><a href="{% url "bookings" %}" class="mui-btn mui-btn--primary mui-btn--raised">{% tr "View bookings" %}</a></p>
      </div>
    </div>
  </div>
{% endblock %}
