{% extends "base.html" %}
{% load translation %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-md-4 mui-col-md-offset-4">
        <p>{{ "Welcome to beatmatcher.org. We are a new start-up that provides DJs a place to showcase their work and get hired by clubs or event organizers."|tr:lang }}</p>
        <p>{{ "DJs can provide their profile and rate, and then event organizers can make a booking request with any DJ on the site."|tr:lang }}</p>
        <p>{{ "All payment is handled by the website."|tr:lang }}</p>
        <p>{{ "In the future, we may also list upcoming events for fans of DJs or clubs."|tr:lang }}</p>
        <p>{{ "If you are a DJ, club, or event organizer, please express your interest by signing up."|tr:lang }}</p>
      </div>
    </div>
  </div>
{% endblock %}
