{% extends "base.html" %}
{% load translation %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-md-4 mui-col-md-offset-4">
        <p>{% tr "Welcome to beatmatcher.org. We are a new start-up that provides DJs a place to showcase their work and get hired by clubs or event organizers." %}</p>
        <p>{% tr "DJs can provide their profile and rate, and then event organizers can make a booking request with any DJ on the site." %}</p>
        <p>{% tr "All payment is handled by the website." %}</p>
        <p>{% tr "In the future, we may also list upcoming events for fans of DJs or clubs." %}</p>
        <p>{% tr "If you are a DJ, club, or event organizer, please express your interest by signing up." %}</p>
      </div>
    </div>
  </div>
{% endblock %}
