{% extends "base.html" %}
{% load static %}
{% load translation %}

{% block content %}
  <div class="mui-container-fluid">
    {% for dj in djs %}
      <div class="mui-row">
        <div class="mui-col-md-3">
          {% if dj.picture %}
            <img src="{% get_static_prefix %}images/djs/{{ dj.id }}.png" style="margin-top: 1em">
          {% endif %}
        </div>
        <div class="mui-col-lg-6 mui-col-md-9">
          <h2>{{ dj.name }}</h2>
          <p>{{ dj.description }}</p>
          {% if dj.rate is not None %}
            <p>{% tr "Rate: €%s per hour" dj.rate %}</p>
          {% endif %}
          {% if not dj.user %}
            <p><strong>{% tr "Beatmatcher is not directly affiliated with this DJ." %}</strong></p>
          {% endif %}
          {% if dj.user or dj.booking_url %}
            <a
              href="{% if dj.user %}{% url "new-booking" dj_id=dj.id %}{% else %}{{ dj.booking_url }}{% endif %}"
              class="mui-btn mui-btn--primary mui-btn--raised"
            >
              {% if dj.user %}
                {% tr "Book now" %}
              {% else %}
                {% tr "Bookings" %}
              {% endif %}
            </a>
          {% endif %}
          {% if dj.soundcloud_url %}
            <a href="{{ dj.soundcloud_url }}" class="mui-btn mui-btn--primary mui-btn--raised">
              {% tr "SoundCloud" %}
            </a>
          {% endif %}
          {% if user.is_staff %}
            <a href="{% url "admin-edit-dj" dj_id=dj.id %}" class="mui-btn mui-btn--primary mui-btn--raised">
              {% tr "Edit" %}
            </a>
          {% endif %}
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>
{% endblock %}
